<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
        
        

<div class="jumbotron">
  <h1 class="display-4"><p>Welcome to Chris' <%= title %> page!</p></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Seconday text</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<%- include partials/footer.ejs %>
<%- include partials/bot_nav.ejs %>



  
    <!--these are the script files-->
    <script src = "scripts/app.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/jquery/dist/jquery.min.js"></script>
</body>
</html>

